# Familiarizandose con **Google Colab** y **Python** 
(Pasé directo al 2 este casi q no tiene sentido hacerlo)

## **Ejercicio 1)** Importando librerías

Importe las librerías `numpy` para operar con arrays y `matplotlib.pyplot` para graficar.

In [29]:
import numpy as np
import matplotlib.pyplot as plt

## **Ejercicio 2)** Practicando instrucciones básicas

**1)** Ingrese un comentario

**2)** Implemente una suma, una multiplicación y una división entera.

**3)** Repita con números flotantes.

**4)** Ingrese un string.

**5)** Ingrese un docstring.

**6)** Concatene dos strings.

In [2]:
# 2.1) esto es un comentario

In [3]:
# 2.2)
1+1

2

In [4]:
5*-3

-15

In [5]:
5//2

2

In [6]:
# 2.3)
1.1 + 2.3

3.4

In [7]:
5.66 * 3

16.98

In [8]:
3/2

1.5

In [9]:
# 2.4)
"hola mundo"

'hola mundo'

In [10]:
# 2.5)
"""hola
mundo"""

'hola\nmundo'

In [11]:
# 2.6)
"abcd" + " " + "efgh"

'abcd efgh'

## **Ejercicio 3)** Practicando con variables

**1)** Inicialize una variable `x` con el valor `3`

**2)** Evalue la variable `x`.

**3)** Inicialize otra variable `y` con el valor `4` y evalue la suma de `x` con `y`.

**4)** Inicialize otra variable `z` con el resultado de evaluar `x*(2+y)`. Luego, evalúe `z`.

**5)** Inicialize una variable `s1` con el string `"hola"` y otra `s2` con el string  `"mundo"`.

**6)** Inicialize otra variable `s` con el resultado de concatenar `s1` con `s2`. Luego, evalùe `s`.

In [21]:
# 3.1)
x = 3
# 3.2)
x

3

In [22]:
#3.3)
y = 4
x+y

7

In [23]:
#3.4)
z = x*(2+y)
z

18

In [15]:
#3.5)
s1 = "hola"
s2 = "mundo"
#3.6)
s = s1 + s2
s

'holamundo'

## **Ejercicio 4)** Practicando igualdades y desigualdades

**1)** Evalúe `1 == 1`.

**2)** Evalúe `1 == 2`.

**3)** Evalúe `1 != 1`.

**4)** Evalúe `1 != 2`.

**5)** Evalúe `"hola" == "hola"`.

**6)** Evalúe `"hola" != "hola"`.

**7)** Evalúe `"hola" == "mundo"`.

**8)** Evalúe `"hola" != "mundo"`.

**9)** Evalúe `True == True`.

**10)** Evalúe `False == True`.

**11)** Evalúe `False != True`.

**12)** Evalúe `False == False`.

**13)** Evalúe `1 < 2`.

**14)** Evalúe `1 > 2`.

**15)** Evalúe `1 <= 2`.

**16)** Evalúe `1 >= 2`.

In [24]:
print("1)", 1 == 1)
print("2)", 1 == 2)
print("3)", 1 != 1)
print("4)", 1 != 2)

print("5)", "hola" == "hola")
print("6)", "hola" != "hola")
print("7)", "hola" == "mundo")
print("8)", "hola" != "mundo")

print("9)", True == True)
print("10)", False == True)
print("11)", False != True)
print("12)", False == False)

print("13)", 1 < 2)
print("14)", 1 > 2)
print("15)", 1 <= 2)
print("16)", 1 >= 2)

1) True
2) False
3) False
4) True
5) True
6) False
7) False
8) True
9) True
10) False
11) True
12) True
13) True
14) False
15) True
16) False

## **Ejercicio 5)** Practicando con la función `print`.

**1)** Imprima un número.

**2)** Imprima un string.

**3)** Imprima dos números.

**4)** Imprima dos strings.

**5)** Imprima dos strings con separador vacío.

**6)** Imprima un número y un string.

In [28]:
# Ejercicio 5: Practicando con la función print

# 1) Imprima un número
print(42)

# 2) Imprima un string
print("Hola mundo")

# 3) Imprima dos números
print(10, 20)

# 4) Imprima dos strings
print("Hola", "Python")

# 5) Imprima dos strings con separador vacío
print("Hola", "Mundo", sep="")

# 6) Imprima un número y un string
print(100, "años")

42
Hola mundo
10 20
Hola Python
HolaMundo
100 años

## **Ejercicio 6)** Practicando con condicionales `if`, `else` y `elif`

**1)** Imprime algo el siguiente código?

      if 1 == 1:
          print("hola")

**2)** Y el siguiente código?

      if 1 != 1:
          print("hola")

**3)** Que imprime el siguiente código?

      if 1 == 2:
          print("hola")
      else:
          print("mundo")

**4)** Que imprime el siguiente código?

      if 1 == 2:
          print("hola")
      elif 1 < 2:
          print("mundo")
      else:
          print("argentina")

In [18]:
# 6.1)

## **Ejercicio 7)** Practicando con listas

**1)** Cree una lista con las siguientes strings `"perro"`, `"gato"`, `"loro"`, `"caballo"` y `"llama"`. Guardela en una variable llamada `animales`.

**2)** Acceda al 3er elemento de la lista.

**3)** Use slicing para acceder a los primeros 3 elementos de la lista.

**4)** Use slicing para acceder a los últimos 3 elementos de la lista.

**5)** Use slicing para acceder a los 3 elementos de la lista contando desde el segundo.

**6)** Use *list comprehension* para generar una lista con los animales que posean una letra `l` en su nombre.

**7)** Cree una lista con los números del 1 al 10, asignándola a una variable `a`.

**8)** Modifique la entrada `a[5]`, asignandole el nuevo valor `"hola"`. Luego, evalúe `a`.

**9)** Modifique las entradas `a[2:6]` con los valores de la lista `["perro", "gato","loro","caballo"]`. Luego, evalúe `a`.

In [19]:
# 7.1)

x = [1000,2000,3000,4000,5000,6000]

y = ["perro","gato"]

x.append(-1000)

x

[1000, 2000, 3000, 4000, 5000, 6000, -1000]

## **Ejercicio 8)** Practicando con tuplas

**1)** Determine si la tupla `(1,2,3)` es igual a si misma.

**2)** Determine si la tupla `(1,2,3)` es igual a la tupla `(1,2,3,4)`.

**3)** Inicialize una variable `t` con una tupla `(1,2,3)`. Luego, evalúe `t[0]`, `t[1]`, `t[2]` y `t[3]`.

**4)** Intente modificar el valor de `t[0]`.

**5)** Determine si la tupla `(1,2,3)` es igual a la lista `[1,2,3]`.

**6)** Inicialize las variables `x`, `y` y `z` asignando la tupla `"hola","mundo",100`. Evalúe `x`, `y` y `z`.

In [20]:
# 8.1)

(1,2) * (3,4)

TypeError: can't multiply sequence by non-int of type 'tuple'

## **Ejercicio 9)** Practicando con loops

**1)** Implemente un loop usando la instrucción `for` que imprima los números pares desde el 0 hasta el 10.

**2)** *Conjetura de Collatz:* Implemente un loop usando la instrucción `while` calcule la iteración

\begin{equation}
n_{t+1} = f(n_t)
\end{equation}

donde $f(n) = n/2$ si $n$ es par y $f(n)=3n+1$ si $n$ es impar, partiendo de $n_0=10$. El loop debe detenerse cuando se cumple la condición $n_t=1$ para algún $t$. Que observa? Comente. Cuantas iteraciones realiza el loop?

**3)** Use `for` para iterar sobre la lista `["perro","gato","loro","caballo","llama"]`, imprimiendo los cada item en cada iteración.

In [ ]:
# 9.1)

## **Ejercicio 10)** Definiendo y evaluando funciones

**1)** Implemente una función llamada `suma` que retorne la sume dos números. Testeela.

**2)** Implemente una función llamada `opcional` que adopte dos parámetros de entrada, y que el segundo de ellos sea opcional con un valor por defecto igual a 1. La función debe retornar la resta de ambos números. Testeela.

**3)** Implemente una función llamada `fact` que calcule y retorne el factorial de un número `n` si es que `n` es natural o zero. En caso contrario, que imprima el mensaje "El número n no es un entero no negativo." y retorne `None`. Testeela.

In [ ]:
# 10.1)

## **Ejercicio 11)** Practicando con arrays

**1)** Inicialize un array de enteros a partir de la lista `[1,2,3]`. Llamelo `b`.

**2)** Inicialize un array 2-dimensional a partir de las listas anidadas `[[1,2,3],[4,5,6],[7,8,9]]`. Llamelo `a`.

**3)** Acceda a la entrada de la fila $i=1$ y la columna $j=2$ del array `a`.

**4)** Inicialice un array de 10 valores 0 en representacón flotante de 64 bits.

**5)** Inicialice un array de 10 valores 3.14 en representacón flotante de 32 bits.

In [ ]:
# 11.1)

## **Ejercicio 12)** Practicando con clases

**1)** Defina una clase llamada `MiClase` que posea una variable miembro llamada `nombre`. El inicializador `__init__()` de la clase debe poseer un argumento opcional, que debe usarse para inicializar el valor de la variable miembro `nombre` con el valor por defecto `"mi clase"`.

**2)** Agregue a la clase la función miembro `__str__()` que retorne el valor de la variable miembro `nombre`.

**3)** Cree un objeto de la clase en cuestión y de nombre `mi_objeto`, y testee la función `__str__()` evaluando la expresión `str(mi_objeto)`.

**4)** Agregue a la clase la función `__len__()` que retorne el largo de la variable miembro `nombre`. Testee dicha función.

**5)** Agregue a la clase una función miembro llamada `cambiar_nombre` que sirva para cambiar el valor de la variable miembro `nombre`. Testee dicha función.

In [ ]:
# 11.1)

## **Ejercicio 13)** Graficando

**1)** Utilice `np.linspace` para generar un array de 100 valores equidistantes entre 0 y 5. Almacene el array en una variable `valores_x`.

**2)** Calcule el array llamado `valores_y1` de valores `np.cos(x)` para cada `x` en `valores_x`.

**3)** Calcule el array llamado `valores_y2` de valores `np.sin(x)` para cada `x` en `valores_x`.

**4)** Use estos arrays para graficar, con curvas, las funciones $\cos(x)$ y $\sin(x)$ en el rango $[0,5]$. Use una línea contínua para el coseno y una punteada para el seno.

**5)** Acomode el gráfico: agregue etiquetas a los ejes y a las curvas. Modifique los límites del área graficada para que se vean correctamente las curvas. Agregue un título a la figura.

In [ ]:
# 13.1)